<%= form_for(customer) do |f| %>
    <% if customer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

          <ul>
            <% customer.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.fields_for :billing_address do |a| %>
        <%= a.label :name %>
        <%= a.text_field :name, class: 'form-control' %>

        <%= a.label :street %>
        <%= a.text_field :street, class: 'form-control' %>

        <%= a.label :city %>
        <%= a.text_field :city, class: 'form-control' %>

        <%= a.label :ZIP %>
        <%= a.text_field :ZIP, class: 'form-control' %>

        <%= a.label :state %>
        <%= a.text_field :state, class: 'form-control' %>

        <%= a.label :country %>
        <%= a.text_field :country, class: 'form-control' %>

        <%= a.label :phone %>
        <%= a.text_field :phone, class: 'form-control' %>
    <% end %>

    <%= f.fields_for :shipping_address do |a| %>
        <%= a.label :name %>
        <%= a.text_field :name, class: 'form-control' %>

        <%= a.label :street %>
        <%= a.text_field :street, class: 'form-control' %>

        <%= a.label :city %>
        <%= a.text_field :city, class: 'form-control' %>

        <%= a.label :ZIP %>
        <%= a.text_field :ZIP, class: 'form-control' %>

        <%= a.label :state %>
        <%= a.text_field :state, class: 'form-control' %>

        <%= a.label :country %>
        <%= a.text_field :country, class: 'form-control' %>

        <%= a.label :phone %>
        <%= a.text_field :phone, class: 'form-control' %>
    <% end %>

    <%= f.fields_for :role do |r| %>
        <%= r.label :email %>
        <%= r.text_field :email, class: 'form-control' %>

        <%= r.label :password %>
        <%= r.password_field :password, class: 'form-control' %>

        <%= r.label :password_confirmation %>
        <%= r.password_field :password_confirmation, class: 'form-control' %>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :date_joined %>
      <%= f.datetime_select :date_joined %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
