<p id="notice"><%= notice %></p>

<p>
  <strong>Business:</strong>
  <%= @business_business_owner.business %>
</p>

<p>
  <strong>Business owner:</strong>
  <%= @business_business_owner.business_owner %>
</p>

<p>
  <strong>Date from:</strong>
  <%= @business_business_owner.date_from %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @business_business_owner.date_to %>
</p>

<%= link_to 'Edit', edit_business_business_owner_path(@business_business_owner) %> |
<%= link_to 'Back', business_business_owners_path %>
