<% provide(:title, @user.role.name) %>
<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= gravatar_for @user%>
      <h1><%= @user.role.name %></h1>
      <small><%= @user.email %></small><br />
      <small><%= link_to 'Edit account', edit_administrator_path(@user.role.id) %></small>
    </section>
  </aside>
  <article class="col-md-4">
    <section>
      <h1>Businesses</h1>
      <table>
        <% most_profitable_businesses.each do |business| %>
        <tr>
          <td><%= business.name %></td>
          <td><%= business.sum %></td>
        </tr>
        <% end %>
      </table>
    </section>
  </article>
</div>

