<%= form_for(business_owner, :url => url, :html => {:class => 'uk-form uk-flex-item-1 uk-flex-column uk-flex-middle'}) do |u| %>
    <% if business_owner.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(business_owner.errors.count, "error") %> prohibited this business_owner from being
            saved:</h2>

          <ul>
            <% business_owner.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <section class="uk-flex uk-flex-column uk-container">
      <%= u.label :email %>
      <%= u.email_field :email, autofocus: true, class: 'form-control', placeholder: :email %>
      <br/>
      <%= u.label :password %> <i>(leave blank if you don't want to change it)</i>
      <%= u.password_field :password, autocomplete: "off", class: 'form-control', placeholder: :password %>
      <% if @minimum_password_length %>
          <br/>
          <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
      <br/>
      <%= u.label :password_confirmation %>
      <%= u.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: :password_confirmation %>
      <br/>
      <%= u.fields_for :role do |r| %>
          <%= r.label :name %>
          <%= r.text_field :name, class: 'form-control', placeholder: :name %>
          </section>

          <section class="uk-container uk-margin">
            <section class="uk-float-left uk-flex uk-flex-column uk-container">
              <h2><%= :shipping_address.to_s.humanize %></h2>
              <%= r.fields_for :billing_address do |a| %>
                  <%= a.label :name %>
                  <%= a.text_field :name, class: 'form-control', placeholder: :name %>

                  <%= a.label :street %>
                  <%= a.text_field :street, class: 'form-control', placeholder: :street %>

                  <%= a.label :city %>
                  <%= a.text_field :city, class: 'form-control', placeholder: :city %>

                  <%= a.label :ZIP %>
                  <%= a.text_field :ZIP, class: 'form-control', placeholder: :ZIP %>

                  <%= a.label :state %>
                  <%= a.text_field :state, class: 'form-control', placeholder: :state %>

                  <%= a.label :country %>
                  <%= a.text_field :country, class: 'form-control', placeholder: :country %>

                  <%= a.label :phone %>
                  <%= a.text_field :phone, class: 'form-control', placeholder: :phone %>
              <% end %>
            </section>

            <section class="uk-float-left uk-flex uk-flex-column uk-container">
              <h2><%= :billing_address.to_s.humanize %></h2>
              <%= r.fields_for :shipping_address do |a| %>
                  <%= a.label :name %>
                  <%= a.text_field :name, class: 'form-control', placeholder: :name %>

                  <%= a.label :street %>
                  <%= a.text_field :street, class: 'form-control', placeholder: :street %>

                  <%= a.label :city %>
                  <%= a.text_field :city, class: 'form-control', placeholder: :city %>

                  <%= a.label :ZIP %>
                  <%= a.text_field :ZIP, class: 'form-control', placeholder: :ZIP %>

                  <%= a.label :state %>
                  <%= a.text_field :state, class: 'form-control', placeholder: :state %>

                  <%= a.label :country %>
                  <%= a.text_field :country, class: 'form-control', placeholder: :country %>

                  <%= a.label :phone %>
                  <%= a.text_field :phone, class: 'form-control', placeholder: :phone %>
              <% end %>
            </section>
          </section>
      <% end %>
      <div class="uk-margin uk-flex uk-flex-center">
        <h2>
          <%= u.submit :class => 'uk-button uk-button-large' %>
        </h2>
      </div>
<% end %>