<% provide(:title, "Invite") %>
<h1>Invite new employee</h1>

<%= form_for(@invite, url: business_owners_invite_employee_path, :html => {:class => 'uk-form uk-flex-item-1 uk-flex-column uk-flex-middle signup-form'}) do |f| %>
    <section class="uk-flex uk-flex-column uk-container">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :business %>
      <%= f.select :business_id, options_for_select(@invite.sender.role.businesses.map {|b| [b.name, b.id]}), class: 'form-control' %>

      <div class="uk-margin uk-flex uk-flex-right submit-container">
          <%= f.submit :class => 'uk-button uk-button-large submit-button' %>
      </div>
      <div class="uk-margin uk-flex uk-flex-center">
        <%= link_to 'Back to Dashboard', dashboard_path %>
      </div>
    </section>
<% end %>
