<p id="notice"><%= notice %></p>

<p>
  <strong>Shipping Address:</strong>
  <%= @business_owner.shipping_address %>
</p>

<p>
  <strong>Billing Address:</strong>
  <%= @business_owner.billing_address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @business_owner.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @business_owner.name %>
</p>

<%= link_to 'Edit', edit_business_owner_path(@business_owner) %> |
<%= link_to 'Back', business_owners_path %>
